/* Style the container for the login form */
.container {
    padding: 16px;
  }
  
  /* Style the input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Style the Login button */
  button[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Change the background color of the cancel button on hover */
  .cancelbtn:hover {
    background-color: #f44336;
  }
  
  /* Add styles to the "Forgot password?" link */
  .psw a {
    float: right;
  }
  
  /* Change the color of the "Forgot password?" link on hover */
  .psw a:hover {
    color: red;
  }
  
  /* Add styles to the "Sign up" link */
  .container p a {
    float: right;
    color: blue;
  }
  
  /* Change the color of the "Sign up" link on hover */
  .container p a:hover {
    color: red;
  }
  
  /* Style the CrossFit logo image */
  .avatar {
    width: 100%;
  }
  
  /* Add styles to the login form container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Add styles to the form container */
  form {
    border: 3px solid #f1f1f1;
  }